.thanks{
  background-color: $blue;
  height:170px;
  position:top;
  border-bottom: 2px solid $red;

  h2{
    font-size:24px;
    margin-top:0;
    color:$white;
    text-align:center;
    padding-top: 40px;
    font-weight: lighter;
  }
  p{
    border-top: 30px;
  }
}


.lovehouse{
  width:80px;
  // border: solid;
  border-radius: 50%;
  border: 2px solid $red;
  background:$blue;
  // margin-top:-28px;
  // margin-left:138px;
  margin:-40px auto 8px auto;
  display:block;

}

.bookingdetails{
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}


ul{
  list-style-type:none;
  margin-left:-40px;
}
.random{
  color: $red;
  margin-top: 20px;
  margin-bottom: -5px;
}


.text{
  text-align:center;
  padding-top: 30px;
  .phone{
    border-radius:50px;
    margin-top: 20px;
    text-align: center;
  }
}


.line{
  text-align:center;
  margin-bottom: 8px;
  margin-top: -15px;
}

// .text-submit{
//   text-align:center;
// }

.btn-center{
 display:block;
 margin:0 auto;
 width:35%;
 margin-top: 30px;

}



