// Specific CSS for your home-page
.hostelbook{
padding-bottom: 20px;
}


.homebuttons{
  text-align: center;
  padding: 40px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.hostelbook{
padding-bottom: 30px;
}

.btn-home {
  padding: 10px 40px;
  width: 250px;



}


.search{
  width:200px;
  position:relative;


  margin:20px auto;

 i {
  position:absolute;
  top:10px;
  left:12px;
 }
}


.wrapper{
   margin:20px auto;
   top: 0px;
}

.input-curve{
  border-radius: 50px;
  padding-left:35px;
}

.homepage-description{
  text-align: center;
}
