// Specific CSS for your home-page
.homebuttons{
  text-align: center;
  padding: 40px;
}

.hostelbook{
padding-bottom: 45px;
padding-top: 30px;
}

.btn-home {
  padding: 10px 40px;
  width: 250px;
}
