// .pay-button{
//   background-color: $red;
//   border-radius: 3px;

// }

.hostel-show {
  text-align: center;
}

.img-icon {
  height: 60px;
  width: 60px;
}

.containter-icons {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
}
