.containter-profile {
  text-align: center;
  color: $black;
}

.img-profile {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;

}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-edit {
  text-decoration: none;
  color: $red;
}

.profile-edit:hover {
//   text-decoration: none;
  color: $red;
}

