.service-header{
  color: #6AC3DD;
  text-align: left;
  border-bottom: solid;
  border-color: $red;
  margin: 0px;
  margin-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}


.services-card{
  background-color: transparent;
  margin: 10px;
  // padding-bottom: 20px;
  padding: 0px 0px 20px 0px;
  width: 100px;
  height: auto;
  i{
    font-size:50px;
    text-align:center;
  }
}


.img-arrow {
 width: auto;
 height: 50px;
 // margin-right: 80px;
}

.service-container {
  justify-content: space-between;
  text-align: center;
}



.s-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top:25px;
  // padding-left:10px;
  margin: 0 15px;
}

.s-icons{
  color: $blue;
  font-size:13px;
  // text-align:center;
  margin-top:10px;
  margin-right: 0px;
}

.svc-dcp {
  width: 80px;
  margin: 20;
  border: 0px;
}

.fix-txt{
  padding:0 5px;
}
.clothes-txt {
  padding: 0px 10px 0px 10px;
}
.fix-hlt {
  padding: 0 10px;
}
.fa-briefcase-medical:before {
    content: "\f469";
    padding: 5px;
}


.fa-briefcase:before {
    content: "\f0b1";
    padding: 11px;
}


.fa-map-marker-alt:before {
    content: "\f3c5";
    padding: 10px;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
    padding: 8px;
}

.fa-sun:before {
    content: "\f185";
    padding: 10px;
}

.fa-utensils:before {
    content: "\f2e7";
    padding: 10px;
}

.fa-paw:before {
    content: "\f1b0";
    padding: 16px;
}

.fa-hand-paper:before {
    content: "\f256";
    padding: 5px;
}
