
<div class="thanks">
  <h2>Thank you. You're giving someone shelter tonight!</h2>
</div>

<%= image_tag "noun_love.png", class: "lovehouse" %>




<div class="bookingdetails">
  Your booking number is <br>
  <strong class="random"><%= rand(100..500) %></strong>
  <p class="line">--------------</p>
</div>

<div class="text">
  <p>Send them a text with the details of this booking</p>
  <input class="phone" placeholder="07••• ••• •••">
</div>

<div class="show-btn">
  <div class="hostelbook">
    <div>
      <%= link_to "Submit", root_path, class: "btn btn-book btn-confirm"%>
    </div>
    <div>
      <%= link_to "More services", services_path, class: "btn btn-book btn-svc"%>
    </div>
  </div>
</div>

