<div class="containter-profile">
  <h3>Profile page</h3>
  <%= image_tag "profile_picture.jpg", height: 100, class: "img-profile" %>
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <p><%= @user.email %></p>
  <p>edit password <%#= link_to edit_user_password_path(current_user) %></p>
</div>
