<div class="footer">
  <div class="footer-links">
        <a href="#">About</a>
        <span> | </span>
        <a href="#">Team</a>
      </div>
       <div class="footer-copyright">
         <a href="#">Gimme Shelter, Inc.</a>
      </div>
</div>
