<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

 <%= link_to "Find a Service", services_path, class: "btn btn-service" %>
 <%= link_to "Find a Hostel", hostels_path, class: "btn btn-book" %>
