.btn-book {
  color: $white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  background: $red;
  transition: background 0.3s ease;
  font-family: 'Quicksand';
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-book:hover {
  opacity: 1;
  background: #A41124;
  text-decoration: none;
  color: $white;
  font-family: 'Quicksand';
}


.btn-service {
  color: $white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  background: $blue;
  transition: background 0.3s ease;
  font-family: 'Quicksand';
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-service:hover {
  opacity: 1;
  background: #57A0B5;
  text-decoration: none;
  color: $white;
  font-family: 'Quicksand';
}

.btn-filter {
  color: $white;
  padding: 5px 10px;
  border-radius: 20px;
  background: $blue;
  transition: background 0.3s ease;
  font-family: 'Quicksand';
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  margin: 5px;
}

.btn-filter:hover {
  opacity: 1;
  background: #57A0B5;
  text-decoration: none;
  color: $white;
  font-family: 'Quicksand';
}

.btn-login {
  width: 100px;
}

.btn-index {
  text-align: center;
  padding: 5px 20px 10px 20px;
}
