<h1> This is the hostel show page </h1>

<%= link_to "Book Now!", new_booking_path(@booking), class: "btn btn-book" %>

<!-- <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">
       Book Now
</a>
<div class="modal" id="basicModal">

</div> -->
